<br><br><br>
<p id="notice"><%= notice %></p>

<div class="row">
  <h5 style="margin-top: 70px">Rates</h5>
  <hr style="margin-top: 0; margin-bottom: 40px;">
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Szip</th>
        <th>State1</th>
        <th>Dzip</th>
        <th>State2</th>
        <th>1lbs(in $)</th>
        <th>2lbs(in $)</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @rates.each do |rate| %>
        <tr>
          <td><%= rate.szip %></td>
          <td><%= rate.state1 %></td>
          <td><%= rate.dzip %></td>
          <td><%= rate.state2 %></td>
          <td><%= rate.onelbs %></td>
          <td><%= rate.twolbs %></td>
          <td><%= link_to 'Show', rate %></td>
          <td><%= link_to 'Edit', edit_rate_path(rate) %></td>
          <td><%= link_to 'Destroy', rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Rate', new_rate_path %>
