<p id="notice"><%= notice %></p>

<p>
  <strong>Szip:</strong>
  <%= @rate.szip %>
</p>

<p>
  <strong>Dzip:</strong>
  <%= @rate.dzip %>
</p>

<p>
  <strong>Onelbs:</strong>
  <%= @rate.onelbs %>
</p>

<p>
  <strong>Twolbs:</strong>
  <%= @rate.twolbs %>
</p>

<p>
  <strong>Fivelbs:</strong>
  <%= @rate.fivelbs %>
</p>

<p>
  <strong>Tenlbs:</strong>
  <%= @rate.tenlbs %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
